[submodule "start/vim-jsx-pretty"]
	path = start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule "start/vim-mustache-handlebars"]
	path = start/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars
[submodule "start/vimwiki"]
	path = start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
